body {
  background-color: #55ACEE;
  padding: 30px;
  text-align: center;
}

header h1 {
  color: #fff;
  margin-bottom: 100px;
}

.trigger {
  color: #fff;
  margin: 50px 0;
  width: 500px;
}

.tweet {
  color: #fff;
  width: 500px;
}

.quote {
  color: #fff;
}

.author {
  color: #fff;
  margin-bottom: 50px;
}

/*background-color: #55ACEE; */