body {
  background-color: #000;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #69f;
  color: #fff;
  border: none;
  border-radius: 5px;
}

h1 {
  color: #fff;
}

p {
  color: #69f;
}